.nav {
  background: rgba(0,0,0,0.3);
  width: max-content;
  padding: 0.5rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  opacity: 0;
  transition: all 1s ease;
  border-radius: 1rem;
  backdrop-filter: blur(15px);
}

.nav__bar_active {
  opacity: 1;
}

.nav a {
  background: transparent;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

.nav a:hover {
  background: rgba(0,0,0,0.3);
}

.nav__active {
  background: var(--color-primary)!important;
  color: var(--color-bg)!important;
}